<div class="overlay">
    <div class="content-box">
        <div class="headline">
            <h4>Weitere Produktinformationen</h4>
            <span class="close" (click)="closeProductInfo()">X</span>
        </div>
        <p>Substanzen oder Produkte, die Allergien oder Intoleranzen hervorrufen können.</p>
        <li>Mit Farbstoff</li>
        <li>Mit Antioxidationsmittel</li>
        <li>Mit Proteine</li>
        <li>Mit Milchproteine</li>
        <h5>Allergene</h5>
        <li>Enthält glutenhaltige/s Getreide/-Erzeugnisse</li>
        <li>Enthält Ei/-Erzeugnisse</li>
        <li>Enthält Sellerie/-Erzeugnisse</li>
        <li>Enthält Senf/-Erzeugnisse</li>
    </div>
</div>