<div class="overlay">
    <div class="content-box">
        <div class="headline">
            <h4>Über dieses Geschäft</h4><span class="close" (click)="closePageInfo()">X</span>
        </div>
        <span class="info">Info</span>
        <div class="scroll-container">
            <div class="google"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.7733945902346!2d6.6518997125861485!3d51.22324997163214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8b40d0431c775%3A0x7323be6610238066!2sKaarster%20Str.%20148%2C%2041462%20Neuss!5e0!3m2!1sde!2sde!4v1732444027009!5m2!1sde!2sde"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            <div class="content">
                <div class="delivery">
                    <div class="head"><img src="/images/clock.png" alt="clock"><span>Lieferzeiten</span></div>
                    <div class="delivery-time">
                        <div class="day-time"><span>Montag:</span><span>keine Lieferung</span></div>
                        <div class="day-time"><span>Dienstag:</span><span>16.30 - 22.30 Uhr</span></div>
                        <div class="day-time"><span>Mittwoch:</span><span></span></div>
                        <div class="day-time"><span>Donnerstag:</span><span>16.30 - 22.30 Uhr</span></div>
                        <div class="day-time"><span>Freitag:</span><span>16.30 - 22.30 Uhr</span></div>
                        <div class="day-time"><span>Samstag:</span><span>16.30 - 22.30 Uhr</span></div>
                        <div class="day-time"><span>Sonntag:</span><span>16.30 - 22.30 Uhr</span></div>
                    </div>
                </div>
                <div class="delivery">
                    <div class="head"><img src="/images/webpage.png" alt="webpage"><span>Website</span></div>
                    <div class="webpage"><a href="http://dominik-tockloth.de" target="_blank">dominik-tockloth.de</a>
                    </div>
                </div>
                <div class="delivery">
                    <div class="head"><img src="/images/payment.png" alt="payment"><span>Bezahlmethoden</span></div>
                    <div class="pay-methods">
                        <div class="pay-box" *ngFor="let img of paymentImages"><img [src]="img"></div>
                    </div>
                </div>
                <div class="delivery">
                    <div class="head"><img src="/images/imprint.png" alt="payment"><span>Impressum</span></div>
                    <div class="imprint">
                        <span>Dominik Tockloth</span>
                        <span>Kaarsterstrasse 148</span>
                        <span>41462 Neuss</span>
                        <a href="mailto:dominik.tockloth@gmx.de">Sende mir eine E-Mail</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>