<section class="basket-wrapper" id="basketWrapper">
    <aside id="basketBox">
        <div class="content-box">
            <h2>Warenkorb</h2>

            <div class="switch-box">
                <div class="content ma-le-3 selected" [class.selected]="isSelected" (click)="toggleSelected()">
                    <img src="/images/orange-bike.png" alt="orange-bike">
                    <div>
                        <h5>Lieferung</h5>
                        <span>ab 16.45 Uhr</span>
                    </div>
                </div>
                <div class="content ma-ri-3" [class.selected]="!isSelected" (click)="toggleSelected()">
                    <img src="/images/grab-bag-black.png" alt="takeaway-bag">
                    <div>
                        <h5>Abholung</h5>
                        <span>ab 16.15 Uhr</span>
                    </div>
                </div>
            </div>
            <!--------------------------   Content for ordering starts here  ---------------------------->
            <div class="basket-item-content">
                <div class="empty-basket" *ngIf="cartItems.length === 0">
                    <img src="/images/basket.png" alt="basket-img">
                    <span>Fülle deinen Warenkorb</span>
                    <p>Füge einige leckere Gerichte aus der Speisekarte hinzu und bestelle dein Essen.</p>
                </div>
                <!-----------------------------   Single basket items starts here   ---------------------------->
                <div class="item" *ngFor="let item of cartItems">
                    <div class="name"><span class="fs-17">{{item.name}}</span><span
                            class="fs-16">{{convertToDecimal(item.price * item.quantity)}} €</span>
                    </div>
                    <div class="quantity-box">
                        <div class="quantity-content">
                            <div><img src="/images/delete.png" alt="delete-btn" (click)="deleteItem(item)"
                                    *ngIf="item.quantity === 1">
                                <img src="/images/remove.png" alt="remove-btn" (click)="decreaseItem(item)"
                                    *ngIf="item.quantity > 1">
                            </div>

                            <span>{{item.quantity}}</span>
                            <div (click)="increaseItem(item)"><img src="/images/add-btn-black.png" alt="add-button">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="not-enough" *ngIf="showContent()">
                    <div class="not-enough-content">Benötigter Betrag, um den Mindestbestellwert zu erreichen
                        {{convertToDecimal(orderDifference)}} €</div>
                    <p>Leider kannst du noch nicht bestellen. World of Burger liefert erst ab einem Mindestbestellwert
                        von 25,00 € (exkl. Lieferkosten).</p>
                </div>
            </div>
            <!----------------------------------  Total price segment starts here  ------------------------------>
            <div class="price-box" *ngIf="cartItems.length > 0">
                <div class="sub-total"><span>Zwischensumme</span><span>{{convertToDecimal(subTotal)}} €</span></div>
                <div class="sub-total ma-top-10" *ngIf="subTotal >= 25"><span>Lieferung</span><span>Kostenlos</span>
                </div>
                <div class="total"><span>Gesamt</span><span>{{convertToDecimal(total)}} €</span></div>
                <button [class.enabled]="total >= 25" [disabled]="total < 25" (click)="openOrderMessage()">Bezahlen
                    ({{convertToDecimal(total)}} €)
                </button>
            </div>
        </div>
    </aside>
</section>

<app-order-message *ngIf="isOrderMessageOpen"></app-order-message>