$orange: #FF8001;
$bg-span: #EFEDEA;
$bike: #6cb168;

//font-family: "Poppins", sans-serif;
// font-family: "Bangers", system-ui;
.basket-wrapper {
    width: 344px;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 80px;
    transition: position 0.3s ease;

    aside {
        box-sizing: border-box;
        position: sticky;
        top: 0;
        padding: 32px 16px;
        box-shadow: 4px 1px 8px 8px rgba(0, 0, 0, 0.1);
        z-index: 4;
        height: 885px;

        .content-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-family: "Poppins", sans-serif;

            h2 {
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 28px;
            }

            .switch-box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 30px;
                height: 48px;
                box-sizing: border-box;
                background-color: #EFEDEA;
                margin-top: 35px;
                margin-bottom: 35px;

                .selected {
                    background-color: white;
                    border-radius: 30px;
                    padding: 2px;

                    &:hover {
                        background-color: white !important;
                    }
                }

                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 30px;
                    box-sizing: border-box;
                    padding: 4px;
                    &:hover {
                        background-color: #e2dada;
                    }

                    img {
                        height: 20px;
                        width: 20px;
                        object-fit: cover;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        h5 {
                            font-size: 14px;
                            font-weight: 600;
                            margin: 0;
                        }

                        span {
                            color: rgb(53, 53, 53);
                            font-size: 11px;
                        }
                    }

                }

            }

            .empty-basket {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 16px;
                text-align: center;
                margin-top: 80px;

                img {
                    height: 48px;
                    width: 48px;
                    object-fit: cover;
                }

                span {
                    font-weight: 700;
                    font-size: 22px;
                }

                p {
                    font-weight: 400;
                    font-size: 15px;
                    margin: 0;
                }
            }

            .price-box {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;
                margin-top: 30px;

                .sub-total {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                }

                .total {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid #999999;
                    font-weight: 600;
                    color: black;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 12px;
                    font-size: 20px;
                    font-weight: 600;
                    border-radius: 30px;
                    border: none;
                    color: rgb(53, 53, 53);
                }

                .enabled {
                    color: white;
                    background-color: #FF8001;
                    cursor: pointer;
                }

            }
        }

        .basket-item-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 500px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 8px;
                border-top: 1px solid #999999;
                min-height: 80px;
                padding-top: 8px;

                &:first-child {
                    border-top: none;
                    padding-top: unset;
                }

                .name {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .fs-17 {
                        font-size: 17px;
                        font-weight: 500;
                        color: rgb(19, 19, 19);
                    }

                    .fs-16 {
                        font-size: 16px;
                        font-weight: 400;
                        color: rgb(24, 24, 24);
                    }
                }

                .quantity-box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;


                    .quantity-content {
                        width: 110px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: $bg-span;
                        border-radius: 20px;
                        box-sizing: border-box;

                        span {
                            font-size: 14px;
                            font-weight: 500;

                        }

                        div {
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-sizing: border-box;
                            padding: 8px;
                            cursor: pointer;

                            &:hover {
                                background-color: #e7e1d8;
                            }

                            img {
                                height: 22px;
                                width: 22px;
                                object-fit: cover;

                            }
                        }
                    }
                }
            }

            .not-enough {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;
                text-wrap: wrap;
                font-size: 12px;

                .not-enough-content {
                    display: flex;
                    text-wrap: wrap;
                    background-color: #FFF9DF;
                    padding: 12px;
                    border-radius: 12px;
                }
            }

        }
    }
}




/********************************  Differnt styles  *************************************/

.ma-le-3 {
    margin-left: 3px;
}

.ma-ri-3 {
    margin-right: 3px;
}

.ma-top-10 {
    margin-top: -10px;
}