<section class="main">
    <img src="/images/main-background.jpg" class="bg-img">
    <div class="scroll-container">
        <div class="headline-box">
            <h3>World of Burger</h3>
            <div class="about-box">
                <button class="button"><img src="/images/info.png" alt="info-icon"> Über uns</button>
                <span><img src="/images/black-heart-empty.png" alt="empty-heart"></span>
            </div>
        </div>
        <div class="delivery-info">
            <div class="delivery-icons">
                <img src="/images/bag.png" alt="bag-icon"><span class="bag">Min. 20,00 €</span>
            </div>
            <span>&#8226;</span>
            <div class="delivery-icons">
                <img src="/images/bike.png" alt="bike-icon"><span class="bike">Keine Liefergebühr</span>
            </div>
        </div>
        <div class="search-box">
            <img src="/images/search.png" alt=""><input type="search" placeholder="Suche in World of Burger">
        </div>
        <app-hamburger-list (productInfoOpened)="openProductInfo()" ></app-hamburger-list>
    </div>
</section>

<app-product-information *ngIf="isProductInfoOpen" (productInfoClosed)="closeProductInfo()"></app-product-information>