<section class="main">
    <img src="/images/main-background.jpg" class="bg-img">
    <div class="scroll-container">
        <div class="headline-box">
            <h3>World of Burger</h3>
            <div class="about-box">
                <button class="button" (click)="openPageInfo()"><img src="/images/info.png" alt="info-icon"> Über
                    uns</button>
                <span (click)="toggleHeart()"><img [src]="heartImage" alt="heart"></span>
            </div>
        </div>
        <div class="delivery-info">
            <div class="delivery-icons">
                <img src="/images/bag.png" alt="bag-icon"><span class="bag">Min. 25,00 €</span>
            </div>
            <span>&#8226;</span>
            <div class="delivery-icons">
                <img src="/images/bike.png" alt="bike-icon"><span class="bike">Keine Liefergebühr</span>
            </div>
        </div>
        <div class="search-box">
            <img src="/images/search.png" alt=""><input type="search" placeholder="Suche in World of Burger"
                [(ngModel)]="searchValue" (input)="onInput()" id="input" min="3">
        </div>
        <!-----------------  Hamburger list content starts here  ------------------------->
        <app-hamburger-list (productInfoOpened)="openProductInfo()" *ngIf="!this.searchValue"></app-hamburger-list>
        <!-----------------  Filtered Hamburger list content starts here  ------------------------->
        <div class="filtered-box" *ngIf="this.searchValue">
            <div class="list-item" *ngFor="let burger of filteredHamburgers">
                <div class="btn-box" (click)="addToCart(burger)"> <img src="/images/add-btn.png" alt="add-button"></div>
                <div class="title-box">
                    <h4>{{burger.name}}</h4><span (click)="openProductInfo()">Produktinfos</span>
                </div>
                <span class="description">{{burger.ingredients}}</span>
                <span class="price">{{ convertDotToComma(burger.price)}} €</span>
            </div>
        </div>
        <!-------------------------------------   Footer content ---------------------------------->
        <div class="imprint">
            <div class="head"><img src="/images/imprint.png" alt="payment"><span>Impressum</span></div>
            <span>Dominik Tockloth</span>
            <span>Kaarsterstrasse 148</span>
            <span>41462 Neuss</span>
            <a href="mailto:dominik.tockloth@gmx.de">Sende mir eine E-Mail</a>
        </div>

    </div>
</section>

<!--------------------------------------------   Overlays content starts here  ---------------------->
<app-product-information *ngIf="isProductInfoOpen" (productInfoClosed)="closeProductInfo()"></app-product-information>
<app-page-information *ngIf="isPageInfoOpen" (pageInfoClosed)="closePageInfo()"></app-page-information>
